<p>detail works!</p>

<div class="container">
  <div class="my-card">
    <div class="card-body">
      <div class="my-card-content">
        <div class="my-card-image">
          <img
            src="https://via.placeholder.com/100x100"
            class="w-40 h-40 rounded-full shadow-md"
            alt="Profile Picture"
          />
        </div>
        <div class="my-card-info">
          <h2 class="text-xl font-semibold">{{ name }}</h2>
          <p class="text-base">{{ location }}</p>
          <p class="text-xl font-semibold">{{ balance }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
