<p>detail works!</p>

<div class="container">
  <div class="my-card">
    <div class="card-body">
      <div class="my-card-content">
        <div class="my-card-image">
          <img
            src="https://via.placeholder.com/100x100"
            class="w-40 h-40 rounded-full shadow-md"
            alt="Profile Picture"
          />
        </div>
        <div *ngFor="let item of praktiks" class="my-card-info">
          <h2 class="text-xl font-semibold">
            {{ item.id }}
          </h2>
          <p class="text-base">
            <span>Negara : </span>{{ item.country }} <span>Kota : </span>
            {{ item.city }}
          </p>
          <p class="text-xl font-semibold">
            {{ item.balance }} {{ item.currency }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
